.test{
    align-items: center;
    border: 3px solid black;
    margin-left: 300px;
    padding: 50px;
    background-color: rgb(174, 214, 174);
    width: 60vw;
    
    
}
h2{
    text-align: center;
}